body {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

}

.Main-container{
  /* margin: auto;
  width: 80%; */
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  margin: auto;
  width: 80%;
  /* width: 80%; */
  /* margin-right: 40px; */
  /* margin-left: 40px; */
  background-color: hsl(0, 0%, 98%);

}

.insure-logo {
  width: 10%;
}


.Navicons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.Navicons a {
  text-decoration: none;
  color: hsl(273, 4%, 51%);
}

.Navicons button {
  background-color: transparent;
  color: hsl(270, 9%, 17%);
}

a:hover {
  color: hsl(270, 9%, 17%);
}

button:hover {
  background-color: hsl(270, 9%, 17%);
  color: hsl(0, 0%, 98%);
  cursor: pointer;
}

#menu {
  display: None;
}

.heroe{
background-color: hsl(256, 26%, 20%);
justify-content: center;
align-items: center;
align-content: center;
padding: 20px;
margin: auto;
position: relative;
height: 300px;
}

.Humanizing {
  display: flex;
  /* justify-content: space-around; */
  margin: auto;
  width: 80%;
  padding: 20px;
  gap: 10px;
}

/* 

{
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
} 

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
} */







#Humanizingtext p {
  width: 80%;
}


.heroeline{
  width: 30%;
}



h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 800;
  font-style: italic;
  font-size: 30px;
  color: hsl(0, 0%, 98%);
  margin: 0px;
  width: 80%;
  /* border-top: 10px;
  border-top: solid hsl(0, 0%, 98%); */
  
}

.Humanizing p,
button {
  color: hsl(0, 0%, 98%);
}

.Humanizing button {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  border-color: hsl(0, 0%, 98%);
}

.Humanizing button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
}

.family {
  /* position: absolute; */
  /* top: 30px; */
  /* right: 0; */
  /* width: 40%; */
}

.family img {
  /* height: 450px; */
  width: 100%;
}

.bg-right{
  position: absolute;
  top: 0px;
  right: 0;
}

.bg-right img {
  width: 50%;
}

/* #Humanizingtext img {
  width: 20%;
} */

.service{
  padding: 10px;
  margin: auto;
  width: 80%;
  margin-top: 15%;
}

.bottomline{
  width: 20%;
}

h4 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  color: hsl(256, 26%, 20%);
  /* border-top: 10px;
  border-top: solid hsl(216, 30%, 68%); */
  padding: 10px;
  /* margin-left: 40px; */
}

.cards{
  display: flex;
  gap: none;
  margin: none;
  align-items: center;
  align-content: center;
}

.snappy{
  display: flex;
  flex-direction: column;
  /* width: 30%; */
  gap: none;
  padding: 10px;
  /* margin-left: 40px; */
}
.snappy img{
  width: 10%;
}

.Affordableprices{
  display: flex;
  flex-direction: column;
  gap: none;
  padding: 10px;
}

.Affordableprices img{
  width: 10%;
}

.Peoplefirst{
  display: flex;
  flex-direction: column;
  gap: none;
  padding: 10px;
}


.Peoplefirst img{
  width: 10%;
}

h6{
  font-family: "DM Serif Display", serif;
  font-weight: 300;
  font-style: italic;
  color: hsl(256, 26%, 20%);
  font-size: 15px;
}
.snappy p{
  margin-top: -20px;
}

.cards{
  display: flex;
 align-content: center;
  align-items: center;
  width: 80%;

}

.howwework{
  display: flex;
  justify-content: space-around;
  /* gap: 50px; */
  align-items: center;
  background-color:hsl(256, 26%, 20%);
  width:80% ;
  padding: 10px;
  margin: auto;
  margin-bottom: 10%;
  position: relative;
  height: 150px;
}
.find{
  width: 60%;
}

.find p{
  font-size: 20px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
  color: hsl(0, 0%, 98%);
}
.howwework button{
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  border-color: hsl(0, 0%, 98%);
  width: 15%;
  /* height: 20px; */
}

.bg-pattern-how-we-work{
  position: absolute;
  right: 0;
  top: 0;
}

.howwework button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
  cursor: pointer;
}
.howwework p{
  width: 30%;
}

.howwework img{
  width: 100%;
  height: 170px;
}
footer{
margin: 10px;
}

.bottom{
  /* width: 80%;
  margin: auto; */
  background-color: hsl(0, 0%, 98%);
  position: relative;
}

.bg-footer{
  position:absolute;
  top: 0;
  left: 0;


}

.bg-footer img{
  width: 85%;
 
}
  

.bottomnav{
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  border-bottom: solid hsl(280, 13%, 95%);
margin-bottom: 10px;
padding: 10px;
}

#bottominsure{
  width: 10%;
  height: 10px;
}



.socialmediaicons{
  display: flex;
  gap: 5px;
}

.socialmediaicons img{
  width: 10px;
}

.footerervices{
  display: flex;
  margin: auto;
  width: 80%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.footerervices h6{color:
  hsl(273, 4%, 51%);
  font-size: 6px;

}

.footerervices a{
  text-decoration: none;
  color: hsl(256, 26%, 20%);
  font-weight: 600;
  font-size: 6px;
  line-height: 15px;
}

.footerervices a :hover{
  text-decoration:underline;
}


.ourcompany{
  display: flex;
flex-direction: column;
/* gap: None; */
}

.helpme{
  display: flex;
flex-direction: column; 
}
.contact{
  display: flex;
  flex-direction: column; 
}
.others{
  display: flex;
  flex-direction: column; 
}













@media only screen and (max-width:426px) {

  .Navbar {
    display: flex;
  }

  #Navicons {
    display: none;
  }

  #menu {
    display: flex;
  }

  .heroe{
    padding: 30px;
    margin: auto;
  }
    /* position: none;} */
  
    .family {
      position: none;}

  .Humanizing {
    display: flex;
    flex-direction:column;
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap-reverse; */
    /* justify-content: space-around; */
    margin: auto;
    width: 100%;
    padding: 20px;
    gap: none;
    /* margin-bottom: 50px; */
  }

  #Humanizingtext p {
    width: 100%;
  }

  h3 {
    width: 100%;
  }

  .service{
    padding: 10px;
    margin: auto;
    width: 100%;
    margin-top: 100%;
    text-align: center;
   
  }

  .cards{
    display: flex;
    flex-direction: column;
   
   
  }
.cards img{
    display: block; 
    margin: 0 auto; 
    width: 20%;
  
}
  .howwework{
    display: flex;
  flex-direction: column;
width: 80%;
height: 250px;
text-align: center;
  }

  .find{
    width: 100%;
  }

  
.find p{
  font-size: 30px;
  width: 100%;
}

.howwework button{
  width: 40%;
}

 .bottomnav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
/* .bottomnav img{
  margin: auto;
}

.socialmediaicons img {
  width: 100%;
  margin: auto;
} */

.footerervices{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}














/* FONT FAMILY FOR HEADING
.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  } */
/*   
FONT FOR body
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.karla-<uniquifier> {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */